<div>
  <!-- <input class="input" type="password" (input)="onPasswordChange($event)" placeholder="Enter password" /> -->
  <div class="strength-bar">
    <div [ngClass]="{'red': strength === 'short' || strength === 'easy', 
    'yellow': strength === 'medium', 
    'gray': strength === 'empty', 
    'green': strength === 'strong'}"></div>
    <div [ngClass]="{'yellow': strength === 'medium', 
                     'green': strength === 'strong',
                     'red': strength === 'short' || strength === 'easy', 
     'gray': strength === 'empty' || strength === 'easy'}"></div>
    <div [ngClass]="{'green': strength === 'strong', 
                     'red': strength !== 'strong', 
                     'gray': strength === 'empty' || strength === 'easy' || strength === 'medium'}"></div>
  </div>
</div>

