<div>
  <input class="input" type="password" (input)="onPasswordChange($event)" placeholder="Enter password" />
  <div class="strength-bar">
    <div [ngClass]="{'red': strength === 'short' || strength === 'easy', 'yellow': strength === 'medium', 'green': strength === 'strong', 'gray': strength === 'empty'}"></div>
    <div [ngClass]="{'yellow': strength === 'medium', 'green': strength === 'strong', 'gray': strength !== 'medium' && strength !== 'strong'}"></div>
    <div [ngClass]="{'green': strength === 'strong', 'gray': strength !== 'strong'}"></div>
  </div>
</div>
