.app-container{
     font-family: 'Roboto', sans-serif
}

.input{
  margin-bottom: 20px;

  border: none; 
  border-radius: 8px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.182);
  padding: 10px; 
  outline: none; 
}

input:focus {
  box-shadow: 0 0 5px rgba(3, 24, 128, 0.5);
}

